<div class="categories-section" th:fragment="categories">
    <div class="mega-menu">
        <div class="menu-item" data-category="restaurants">
            <a href="/restaurants" class="menu-title">
                <i class="fas fa-utensils"></i>
                Ресторанти
            </a>
            <div class="submenu">
                <div class="submenu-column">
<!--                    <h4><a href="/restaurants">Всички ресторанти</a></h4>-->
                    <ul>
                        Бързо търсене
                        <li><a href="/search?q=burger">Бургери</a></li>
                        <li><a href="/search?q=pizza">Пица</a></li>
                        <li><a href="/search?q=sushi">Суши</a></li>
                        <li><a href="/search?q=drinks">Напитки</a></li>
                        <li><a href="/search?q=salads">Салати</a></li>
                        <li><a href="/search?q=desserts">Десерти</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="menu-item" data-category="groceries">
            <a href="/shops" class="menu-title">
                <i class="fas fa-shopping-basket"></i>
                Магазини
            </a>
            <div class="submenu">
                <div class="submenu-column">
<!--                    <h4><a href="/shops">Всички магазини</a></h4>-->
                    <ul>
                        Бързо търсене
                        <li><a href="/search?q=groceries">Плодове и зеленчуци</a></li>
                        <li><a href="/search?q=tech">Техника</a></li>
                        <li><a href="/search?q=flower">Цветя</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>