<header th:fragment="header">
    <nav class="navbar">
        <a href="/">
            <img class="logo" src="/images/logo.png" alt="logo.png">
        </a>

        <div class="links">
            <div class="dropdown" th:if="${null != user && user.role.name == 'MERCHANT' && merchantIsActive}">
            <form th:action="@{/dashboard/merchant/toggle-closed-status}" method="post" class="toggle-status-form">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <button type="submit" class="dropdown-item toggle-status-btn">
                    <i class="fa-solid" th:classappend="${merchantIsClosed != null && merchantIsClosed} ? 'fa-store' : 'fa-store-slash'"></i>
                    <span th:text="${merchantIsClosed != null && merchantIsClosed} ? 'Open Shop' : 'Close Shop'"></span>
                </button>
            </form>
            </div>
        </div>

        <div class="links">
            <div class="dropdown" th:if="${null != user && user.role.name == 'COURIER'}">
                <div class="icon-with-text">
                    <i class="fa-solid fa-user-shield"></i>
                    <span>Courier</span>
                </div>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/courier/orders}">Orders</a></li>
                </ul>
            </div>

            <div class="dropdown" th:if="${null != user && user.role.name == 'MERCHANT' && merchantIsActive}">
                <div class="icon-with-text">
                    <i class="fa-solid fa-user-shield"></i>
                    <span>Merchant</span>
                </div>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/dashboard/merchant/my-shop}">My Shop</a></li>
                    <li><a class="dropdown-item" th:href="@{/products}">Products</a></li>
                    <li><a class="dropdown-item" th:href="@{/dashboard/merchant/orders}">Orders</a></li>
                </ul>
            </div>

            <div class="dropdown" th:if="${null != user && user.role.name == 'ADMIN'}">
                <div class="icon-with-text">
                    <i class="fa-solid fa-user-shield"></i>
                    <span>Admin</span>
                </div>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/admin/users}">Users</a></li>
                    <li><a class="dropdown-item" th:href="@{/admin/merchants}">Merchants</a></li>
                    <li><a class="dropdown-item" th:href="@{/admin/couriers}">Couriers</a></li>
                    <li><a class="dropdown-item" th:href="@{/admin/admins}">Admins</a></li>
                </ul>
            </div>

            <div class="dropdown" th:if="${null != user}">
                <div class="icon-with-text">
                    <i class="fa-solid fa-user"></i>
                    <span th:text="${user.firstName + ' ' + user.lastName}">My Account</span>
                </div>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/profile}">Profile</a></li>
                    <li><a class="dropdown-item" th:href="@{/addresses}">Addresses</a></li>
                    <li><a class="dropdown-item" th:href="@{/orders}">My Orders</a></li>
                    <li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
                </ul>
            </div>
            <a th:if="${null == user}" th:href="@{/login}" class="icon-with-text">
                <i class="fa-solid fa-user"></i>
                <span>Login</span>
            </a>
            <a th:if="${null == user}" th:href="@{/register}" class="icon-with-text">
                <i class="fa-solid fa-user-plus"></i>
                <span>Sign Up</span>
            </a>
            <a th:if="${null != user}" th:href="@{/cart}" class="icon-with-text">
                <i class="fa-solid fa-cart-shopping"></i>
                <span>Cart</span>
            </a>
        </div>
    </nav>
</header>
